{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container">
        <a href="{{ path('connect_facebook_start') }}"
           class="btn btn-lg btn-social btn-facebook">
            <i class="fa fa-facebook-f fa-fw"></i> Sign in with Facebook
        </a>
    </div>
{% endblock %}