{% extends 'base.html.twig' %}

{% block body %}
    {% include 'parts/navbar.html.twig' %}

    <h2>Users without Quizzes</h2>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
            </tr>
        </thead>

        <tbody>
            {% if usersWithoutQuiz | length > 0 %}
                {% for user in usersWithoutQuiz %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ user.email }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <th scope="row"
                        colspan="2"
                        class="text-center">
                        There are no users without Quiz
                    </th>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
