{% extends 'base.html.twig' %}

{% block body %}
    {% include 'parts/navbar.html.twig' %}

    <div class="container">
        <div class="row mb-3">
            <div class="col-12">
                <h2>Personality Test</h2>
            </div>
        </div>

        {{ form_start(form, {'action': path('home_page'), 'method': 'POST'}) }}
            <div class="row">
                {% for quizAnswer in form.quizAnswers %}
                    <div class="col-12 mb-2">
                        {{ form_widget(quizAnswer) }}
                    </div>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-12">
                    {{ form_row(form.submit) }}
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
