{% extends 'base.html.twig' %}

{% block body %}
    {% include 'parts/navbar.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        let questionStatistics = {{ questionStatistics | json_encode | raw }};

        let chartsData = [];

        for (let index in questionStatistics) {
            let title = undefined,
                labels = [],
                data = [];

            questionStatistics[index].forEach((question) => {
                if (!title) {
                    title = question['question_content'];
                }

                labels.push(question['answer_content']);
                data.push(question['question_answers_count']);
            });

            chartsData.push({
                data: {
                    labels: labels,
                    datasets: [{
                        label: '# of Votes',
                        data: data,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: title
                    }
                }
            });
        };

        let container = document.createElement('div');
        container.id = 'wrapper';
        container.className = 'row';
        document.body.appendChild(container);

        chartsData.forEach((chartData, index) => {
            let canvas = document.createElement('canvas'),
                chartId = 'chart' + index;
            canvas.id = chartId;
            canvas.className = 'col-sm-12 col-md-6 col-xl-4';
            container.append(canvas);

            let context = document.getElementById(chartId).getContext('2d');
            let myChart = new Chart(context, {
                type: 'pie',
                data: chartData['data'],
                options: chartData['options']
            });
        });

    </script>
{% endblock %}
