<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}Quiz!{% endblock %}</title>

        {% block stylesheets %}
            <link href="{{ asset('build/app.css') }}" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('build/runtime.js') }}"></script>
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
